@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  align-items: center;
  background-color: #1166cc;
  color: white;
  display: flex;
  font-family: Lato, sans-serif;
  font-size: 1.2rem;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

a {
  border-bottom: 1px solid #237fed;
  color: #b1d1f8;
  text-decoration: none;
  transition: 100ms all ease-out;
}

a:after {
  content: " →";
}

a:hover,
a:focus {
  border-color: white;
  color: #c8dffa;
}

.site__body {
  padding: 1rem;
}

.logo {
  max-width: 50%;
}

.menu {
  margin: 2rem 0;
}

.heading {
  font-size: 2rem;
}
